---
layout: default
---

<article class="post">
<h1>{{ page.title }}</h1>

<div class="tags">
<i class="fa fa-tags"></i>
{% assign tags = page.tags | sort %}
{% include tagcloud.html %}
</div>

<div class="entry">
<i class="fas fa-language"></i> <a href="https://papago.naver.net/website?locale=ko&source=ko&target=en&url={{ post.url | prepend: site.baseurl }}">Translate to English</a><br>
{{ content }}
</div>

{% include ad.html %}

<div class="date">
<i class="fa fa-clock"></i> Written on {{ page.date | date: "%B %e, %Y" }}
</div>

{% include disqus.html %}
</article>
